*{
  margin: 0;
}

.titulo1{
  color: white;
  padding: 50px;
  background-color: rgb(255, 140, 0);
}

.texto1{
  color: rgb(0,0,1);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px
}

.titulo2{
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Dancing Script', cursive;
}

.texto2{
  padding-left: 10px;
  padding-top: 10px;
}

.carro img{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 100px;
  border: solid black;
}
